
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--primary-border-radius);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
    font-size: 17px;
    padding: 12px 15px;
    text-align: left;
    color: var(--accent-color);
    /* background-color: var(--background-color); */

}

thead th {
    font-weight: bold;
    border-bottom: 3px solid var(--border-color);

}

tbody tr:nth-child(odd) {
    background-color: rgb(111 120 135 / 4%);
}

tbody tr:last-child td {
    border-bottom: 0;
}
