.input,
select {
    width: 100%;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    section {
        margin-bottom: 20px;
    }

    .card {
        margin-bottom: 20px;
    }

    table {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    #select-turma__contatiner {
        align-items: center;
    }

    main {
        padding: 10px;
    }

    section {
        padding: 20px;
    }

    .card {
        padding: 20px;
    }

    select {
        font-size: 14px;
    }

    .alunos_grid {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    table {
        max-width: 100%;
    }

    table tr td,
    th {
        padding: 10px 1px;
        width: min-content;
        font-size: 10px;
    }

    .title {
        font-size: 28px;
        text-align: center;
    }

    #btn-inserir-aluno {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        width: 30%;
        height: 60px;
    }

    #btn-voltar {
        position: absolute;
        transform: scale(0.7);
        top: 0;
        left: -16px;
    }

    .popup {
        width: fit-content;
    }
}
