section {
    width: 90%;
}

.centralizado {
    display: flex;
    justify-content: center;
}

#select-turma__contatiner,
#select-turma__contatiner main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#select-turma__contatiner {
    width: 100%;
    height: 100%;
    gap: 80px;
    position: relative;
}

#turma-zone {
    display: none;

    #turma-header {
        margin-bottom: 50px;
        text-align: center;
    }
}

#aluno-zone {
    display: none;
}

#btn-voltar {
    position: absolute;
    top: 10px;
    left: 10px;
}